In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
#Q1 - 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
Rank = []
Name = []
Artist = []
Upload_Date = []
Views= []

In [6]:
rank=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
    
name=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)
    
artist=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)
    
upload_date=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in upload_date:
    Upload_Date.append(i.text)
    
views=driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in views:
    Views.append(i.text)

In [7]:
print(len(Rank), len(Name), len(Artist), len(Upload_Date), len(Views))

30 30 30 30 30

In [9]:
df = pd.DataFrame({"Rank":Rank, "Video Name":Name, "Artist/Uploader": Artist, "Upload Date": Upload_Date, "Views(Billion)": Views})
df

,Rank,Video Name,Artist/Uploader,Upload Date,Views(Billion)
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

In [10]:
#Q-2 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.

In [70]:
driver = webdriver.Edge()

In [71]:
driver.get("https://www.bcci.tv/")

In [72]:
click_fixtures = driver.find_element(By.XPATH, "/html/body/header/div[3]/div[1]/ul/div[1]/a[2]")
click_fixtures.click()

In [73]:
Series = []
Place = []
Date = []
Time = []

In [74]:
from selenium.webdriver.support import expected_conditions as EC

In [78]:
wait = WebDriverWait(driver, 5)
button = wait.until(EC.presence_of_element_located((By.XPATH, "/html/body/section/div/div/div/div/div/div[2]/div[2]/div[2]/div/button")))
while True:
    try:
        button.click()
    except:
        break

In [79]:
series=driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
    
place=driver.find_elements(By.XPATH, '//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)
    
date=driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
    
time=driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)

In [80]:
print(len(Series), len(Place), len(Date), len(Time))

38 36 38 38

In [81]:
Fixtures = pd.DataFrame({})
Fixtures['Series'] = Series[2:38]
Fixtures['Place'] = Place
Fixtures['Date'] = Date[2:38]
Fixtures['Time'] = Time[2:38]
Fixtures

,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,"Greenfield International Stadium, Thiruvananth...","26 NOVEMBER, 2023",7:00 PM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,"CP Ground,Mulapadu, Vijayawada","27 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,"DVR Ground,Mulapadu, Vijayawada","27 NOVEMBER, 2023",9:00 AM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,"Barsapara Cricket Stadium, Guwahati","28 NOVEMBER, 2023",7:00 PM IST
4,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium, Mumbai","29 NOVEMBER, 2023",1:30 PM IST
5,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium, Mumbai","1 DECEMBER, 2023",1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"1 DECEMBER, 2023",7:00 PM IST
7,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium, Mumbai","3 DECEMBER, 2023",1:30 PM IST
8,AUSTRALIA TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","3 DECEMBER, 2023",7:00 PM IST
9,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","6 DECEMBER, 2023",7:00 PM IST
10,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","9 DECEMBER, 2023",7:00 PM IST
11,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","10 DECEMBER, 2023",7:00 PM IST
12,INDIA TOUR OF SOUTH AFRICA 2023-24,"Kingsmead, Durban","10 DECEMBER, 2023",9:30 PM IST
13,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha","12 DECEMBER, 2023",9:30 PM IST
14,ENGLAND WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","14 DECEMBER, 2023",9:30 AM IST
15,INDIA TOUR OF SOUTH AFRICA 2023-24,"The Wanderers Stadium, Johannesburg","14 DECEMBER, 2023",9:30 PM IST
16,INDIA TOUR OF SOUTH AFRICA 2023-24,Johannesburg,"17 DECEMBER, 2023",2:00 PM IST
17,INDIA TOUR OF SOUTH AFRICA 2023-24,"St George's Park, Gqeberha","19 DECEMBER, 2023",2:00 PM IST
18,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","21 DECEMBER, 2023",9:30 AM IST
19,INDIA TOUR OF SOUTH AFRICA 2023-24,"Boland Park, Paarl","21 DECEMBER, 2023",2:00 PM IST
20,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
21,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
22,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
23,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
24,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
25,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
26,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
27,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST
28,AFGHANISTAN TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium, ...","11 JANUARY, 2024",7:00 PM IST
29,AFGHANISTAN TOUR OF INDIA 2023-24,"Holkar Cricket Stadium, Indore","14 JANUARY, 2024",7:00 PM IST
30,AFGHANISTAN TOUR OF INDIA 2023-24,"M Chinnaswamy Stadium, Bengaluru","17 JANUARY, 2024",7:00 PM IST
31,ENGLAND TOUR OF INDIA 2023-24,"Rajiv Gandhi International Stadium, Hyderabad","25 JANUARY, 2024",9:30 AM IST
32,ENGLAND TOUR OF INDIA 2023-24,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,"2 FEBRUARY, 2024",9:30 AM IST
33,ENGLAND TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium, Rajkot","15 FEBRUARY, 2024",9:30 AM IST
34,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","23 FEBRUARY, 2024",9:30 AM IST
35,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST

In [82]:
driver.close()

In [83]:
#Q3 - 3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [95]:
driver = webdriver.Chrome()

In [96]:
driver.get("http://statisticstimes.com/")

In [97]:
click_economy = driver.find_element(By.XPATH, "/html/body/div[2]/div[1]/div[2]/div[2]/button")
click_economy.click()

click_india = driver.find_element(By.XPATH, "/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
click_india.click()

In [98]:
click_next = driver.find_element(By.XPATH, "/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
click_next.click()

In [99]:
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share_18_19= []
GDP_Billion = []

rank=driver.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)
    
state=driver.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
    
gsdp1=driver.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[4]')
for i in gsdp1:
    GSDP_18_19.append(i.text)
    
gsdp2=driver.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[3]')
for i in gsdp2:
    GSDP_19_20.append(i.text)
    
share=driver.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[5]')
for i in share:
    Share_18_19.append(i.text)
    
gdp_billion=driver.find_elements(By.XPATH, '//div[@class="fwidth"][3]/div/div/table/tbody/tr/td[6]')
for i in gdp_billion:
    GDP_Billion.append(i.text)

In [100]:
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP(18-19)- at current prices'] = GSDP_18_19
GDP['GSDP(19-20)- at current prices'] = GSDP_19_20
GDP['Share(18-19)'] = Share_18_19
GDP['GDP($ billion)'] = GDP_Billion
GDP

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [102]:
driver.close()

In [107]:
#Q4. 5. Scrape the details of top 100 songs on billiboard.com.

In [108]:
driver = webdriver.Chrome()

In [109]:
driver.get("https:/www.billboard.com/")

In [110]:
click_charts = driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a")
click_charts.click()

In [111]:
click_hot_100 = driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
click_hot_100.click()

In [112]:
Song_Name = []
Artist_Name = []
Last_Week_Rank = []
Peak_Rank = []
Weeks_On_Board= []

name=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/h3')
for i in name:
    Song_Name.append(i.text)
    
artist=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')
for i in artist:
    Artist_Name.append(i.text)
    
rank1=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]')
for i in rank1:
    Last_Week_Rank.append(i.text)
    
rank2=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]')
for i in rank2:
    Peak_Rank.append(i.text)
    
on_board=driver.find_elements(By.XPATH, '//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]')
for i in on_board:
    Weeks_On_Board.append(i.text)

In [113]:
Hot100 = pd.DataFrame({})
Hot100['Song Name'] = Song_Name
Hot100['Artist Name'] = Artist_Name
Hot100['LastWeek Rank'] = Last_Week_Rank
Hot100['Peak Rank'] = Peak_Rank
Hot100['WeeksOn Board'] = Weeks_On_Board
Hot100

,Song Name,Artist Name,LastWeek Rank,Peak Rank,WeeksOn Board
0,Cruel Summer,Taylor Swift,1,1,28
1,Lovin On Me,Jack Harlow,-,2,1
2,Paint The Town Red,Doja Cat,2,1,15
3,Snooze,SZA,4,2,49
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,22,13
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
97,But I Got A Beer In My Hand,Luke Bryan,98,92,5
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
99,Soak City (Do It),310babii,-,100,1

In [115]:
driver.close()

In [116]:
#Q 5 - 6. Scrape the details of Highest selling novels.

In [117]:
driver = webdriver.Chrome()

In [118]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [119]:
Book_Name = []
Author_Name = []
Volumes_Sold = []
Publisher = []
Genre= []

name=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    Book_Name.append(i.text)
    
author=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_Name.append(i.text)
    
sales=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sales:
    Volumes_Sold.append(i.text)
    
publisher=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)
    
genre=driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [120]:
TopNovels = pd.DataFrame({})
TopNovels['Book Name'] = Book_Name
TopNovels['Author Name'] = Author_Name
TopNovels['Volumes Sold'] = Volumes_Sold
TopNovels['Publisher'] = Publisher
TopNovels['Genre'] = Genre
TopNovels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [122]:
driver.close()

In [123]:
#Q7 - Scrape the details most watched tv series of all time from imdb.com.

In [176]:
driver = webdriver.Chrome()

In [177]:
driver.get("https://www.imdb.com/list/ls095964455")

In [126]:
Name = []
Year_Span = []
Genre= []
Run_Time = []
Ratings = []
Votes = []

name=driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/h3/a')
for i in name:
    Name.append(i.text)
    
span=driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/h3/span[2]')
for i in span:
    Year_Span.append(i.text)
    
genre=driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/p[1]/span[5]')
for i in genre:
    Genre.append(i.text)
    
run_time=driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/p[1]/span[3]')
for i in run_time:
    Run_Time.append(i.text)
    
ratings=driver.find_elements(By.XPATH, '//div[@class="lister-list"]/div/div[2]/div[1]/div/span[2]')
for i in ratings:
    Ratings.append(i.text)
    
votes=driver.find_elements(By.XPATH, '//p[@class="text-muted text-small"][3]/span[2]')
for i in votes:
    Votes.append(i.text)

In [127]:
TopTVShows = pd.DataFrame({})
TopTVShows['Name'] = Name
TopTVShows['Year Span'] = Year_Span
TopTVShows['Genre'] = Genre
TopTVShows['Run Time'] = Run_Time
TopTVShows['Ratings'] = Ratings
TopTVShows['Votes'] = Votes
TopTVShows

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,224,760"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,292,057"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,055,439"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"309,924"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,047"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,226"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,320"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,014"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,355"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,491"

In [128]:
driver.close()

In [129]:
#Q8 - 8. Details of Datasets from UCI machine learning repositories.

In [38]:
driver = webdriver.Chrome()

In [39]:
driver.get("https://archive.ics.uci.edu/")
time.sleep(10)

In [40]:
click_view_datasets= driver.find_element(By.XPATH, '//a[@class="btn-primary btn"]')
click_view_datasets.click()
time.sleep(10)

In [41]:
click_expand_all= driver.find_element(By.XPATH, '//span[@class="swap-on text-primary-content"]')
click_expand_all.click()
time.sleep(10)

In [42]:
Dataset_Name = []
Dataset_Type = []
Task= []
Attribute_Type = []
No_Of_Instances = []
No_Of_Attribute = []
Year = []

name=driver.find_elements(By.XPATH, '//h2[@class="truncate text-primary"]')
for i in name:
    Dataset_Name.append(i.text)
    
type1=driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div[1]/div[2]/div/div[2]/span')
for i in type1:
    Dataset_Type.append(i.text)
    
task=driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div[1]/div[2]/div/div[1]/span')
for i in task:
    Task.append(i.text)
    
type2=driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div[2]/div/table/tbody/tr/td[2]')
for i in type2:
    Attribute_Type.append(i.text)
    
instances=driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div[1]/div[2]/div/div[3]/span')
for i in instances:
    No_Of_Instances.append(i.text)
    
attribute=driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div[1]/div[2]/div/div[4]/span')
for i in attribute:
    No_Of_Attribute.append(i.text)
    
year=driver.find_elements(By.XPATH, '//div[@class="rounded-box bg-base-100"]/div[2]/div/table/tbody/tr/td[3]')
for i in year:
    Year.append(i.text)

In [43]:
print(len(Dataset_Name), len(Dataset_Type), len(Task), len(Attribute_Type), len(No_Of_Instances), len(No_Of_Attribute), len(Year))

10 10 10 10 10 10 10

In [44]:
DataSet = pd.DataFrame({})
DataSet['Dataset Name'] = Dataset_Name
DataSet['Dataset Type'] = Dataset_Type
DataSet['Task'] = Task
DataSet['Attribute Type'] = Attribute_Type
DataSet['No Of Instances'] = No_Of_Instances
DataSet['No Of Attribute'] = No_Of_Attribute
DataSet['Year'] = Year
DataSet

,Dataset Name,Dataset Type,Task,Attribute Type,No Of Instances,No Of Attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
5,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features,N/A
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features,10/7/2009
9,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,10/6/2019

In [45]:
driver.close()

In [96]:
#Q4 - 4. Scrape the details of trending repositories on Github.com.

In [16]:
driver = webdriver.Chrome()

In [17]:
driver.get("https://github.com/")
time.sleep(15)

In [18]:
click_open_source= driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
click_open_source.click()

click_trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
click_trending.click()

In [19]:
product_opening_url = []
url = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]/a')
for i in url:
    product_opening_url.append(i.get_attribute("href"))

In [20]:
product_opening_url

['https://github.com/bgstaal/multipleWindow3dScene',
 'https://github.com/run-llama/rags',
 'https://github.com/teslamotors/roadster',
 'https://github.com/trungdq88/Awesome-Black-Friday-Cyber-Monday',
 'https://github.com/fanmingming/live',
 'https://github.com/keiko233/clash-nyanpasu',
 'https://github.com/linexjlin/GPTs',
 'https://github.com/wesbos/hot-tips',
 'https://github.com/lllyasviel/Fooocus',
 'https://github.com/florinpop17/app-ideas',
 'https://github.com/StarRocks/starrocks',
 'https://github.com/antirez/botlib',
 'https://github.com/GrowingGit/GitHub-Chinese-Top-Charts',
 'https://github.com/1Panel-dev/1Panel',
 'https://github.com/LouisShark/chatgpt_system_prompt',
 'https://github.com/Stability-AI/generative-models',
 'https://github.com/AmruthPillai/Reactive-Resume',
 'https://github.com/microsoft/AI-For-Beginners',
 'https://github.com/fffaraz/awesome-cpp',
 'https://github.com/mRs-/Black-Friday-Deals',
 'https://github.com/spring-projects/spring-boot',
 'https://github.com/windmill-labs/windmill',
 'https://github.com/sergiomarotco/Network-segmentation-cheat-sheet',
 'https://github.com/CatVodTVOfficial/TVBoxOSC',
 'https://github.com/angular/angular']

In [21]:
Repository_Title = []
Repository_Description = []
Contributors_Count = []
Language_Used = []

for i in product_opening_url:
    driver.get(i)
    time.sleep(5)
    try:
        title=driver.find_element(By.XPATH, '//span[@class="author flex-self-stretch"]')
        Repository_Title.append(title.text)
    except NoSuchElementException:
        Repository_Title.append('-')
        
    try:
        description=driver.find_element(By.XPATH, '//div[@class="BorderGrid BorderGrid--spacious"]/div[1]/div/div/p')
        Repository_Description.append(description.text)
    except NoSuchElementException:
        Repository_Description.append('-')
        
    try:
        count=driver.find_element(By.XPATH, '//div[@class="BorderGrid-row"][5]/div/h2/a/span')
        Contributors_Count.append(count.text)
    except NoSuchElementException:
        Contributors_Count.append('-')
        
    try:
        language=driver.find_element(By.XPATH, '//li[@class="d-inline"][1]/a/span[1]')
        Language_Used.append(language.text)
    except NoSuchElementException:
        Language_Used.append('-')

In [22]:
print(len(Repository_Title), len(Repository_Description), len(Contributors_Count), len(Language_Used))

25 25 25 25

In [23]:
Trending_Repository = pd.DataFrame({})
Trending_Repository['Repository Title'] = Repository_Title
Trending_Repository['Repository Description'] = Repository_Description
Trending_Repository['Contributors Count'] = Contributors_Count
Trending_Repository['Language Used'] = Language_Used
Trending_Repository

,Repository Title,Repository Description,Contributors Count,Language Used
0,bgstaal,"A quick example of how one can ""synchronize"" a...",-,JavaScript
1,run-llama,-,5,Python
2,teslamotors,2008-2012 Roadster Development and Diagnostic ...,-,-
3,trungdq88,"Awesome deals on Black Friday: Apps, SaaS, Boo...",567,-
4,fanmingming,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,-,JavaScript
5,keiko233,Clash Nyanpasu!,26,TypeScript
6,linexjlin,leaked prompts of GPTs,3,-
7,wesbos,The code behind my hot tips,-,HTML
8,lllyasviel,Focus on prompting and generating,-,Python
9,florinpop17,A Collection of application ideas which can be...,68,-
10,StarRocks,"StarRocks, a Linux Foundation project, is a ne...",293,Java
11,antirez,C Telegram bot framework,-,C
12,GrowingGit,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,-,Java
13,1Panel-dev,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。,38,Go
14,LouisShark,store all chatgpt's system prompt,3,Shell
15,Stability-AI,Generative Models by Stability AI,15,Python
16,AmruthPillai,A one-of-a-kind resume builder that keeps your...,-,TypeScript
17,microsoft,"12 Weeks, 24 Lessons, AI for All!",33,Jupyter Notebook
18,fffaraz,A curated list of awesome C++ (or C) framework...,380,-
19,mRs-,Black Friday Deals for macOS / iOS Software & ...,257,Swift
20,spring-projects,Spring Boot,"1,039",Java
21,windmill-labs,Open-source developer platform to turn scripts...,56,JavaScript
22,sergiomarotco,Best practices for segmentation of the corpora...,-,-
23,CatVodTVOfficial,真的没有QQ群、QQ频道、论坛。打包分发注意开源协议，保留出处，不守规矩就不要搞。,11,Java
24,angular,Deliver web apps with confidence 🚀,-,TypeScript

In [24]:
driver.close()